:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
}

.solution {
  position: relative;
  height: 596px;
  width: 350px;
  padding: 1.5rem;
  background-color: var(--card-bg);
}

.rounded-corners {
  border-radius: 1.1rem;
}

.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.image-container img {
  width: 100%;
}

.image-container img:hover .overlay {
  opacity: 1;
}

.image-overlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  margin: auto;
} 

.image-overlay img {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.image-container:hover .image-overlay {
  display: block;
}

.detail-container {
  padding-top: 1.3rem;
}

.detail-container a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white)
}

#eth {
  margin: 1.3rem auto;
  font-size: 1.3rem;
}

.detail-container a:hover {
  color: var(--cyan)
}

.solution p {
  color: var(--soft-blue);
  font-weight: 300;
  margin-top: 1rem;
}

#text-details {
  margin-top: 1rem;
}

#text-details img {
  font-size: 0.7rem;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}

.green-text {
  color: var(--cyan);
  font-weight: 600;
}
.time {
  color: var(--soft-blue);
}
.flex-container span {
  padding-left: 10px;
}

#line {
  margin-top: 1rem;
  width: 100%;
  display: block;
  border-top: 1px solid var(--line-color);
}

.avatar-wrapper {
  position: relative;
}
.avatar-container {
  margin-top: 1rem;
}
.avatar {
  height: 2.7rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.created-text {
  position: absolute;
  bottom: 20%;
  left: 20%;
}

#creation {
  color: var(--soft-blue);
  font-weight: 400;
}
#person {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

#person:hover {
    color: var(--cyan);
    cursor: pointer;
}
.attribution {
  position: relative;
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  top: 90%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
